<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<div class="col-md-12">
	<!-- <button class='btn btn-default'><a ui-sref="houses.directory">Directory</a></button>
	<div ui-view="" class="housesSubViews"></div> -->

	<div class="btn-group pull-right">
		<div class="btn btn-default" ng-click="togglePane('directory')"><i class="glyphicon glyphicon-th-large"></i></div>
		<div class="btn btn-default" ng-click="togglePane('tile')"><i class="glyphicon glyphicon-th-list"></i></div>
	</div>
	<table ng-show="visiblePane === 'directory'" class="table table-striped table-hover">
	  <thead>
	  	<tr>
	  		<th>House Name</th>
	  		<th>Description</th>
	  		<th>Address</th>
	  		<th># of Residents</th>
	  		<th>Resident Names</th>
	  		<th>Dietary Restrictions</th>
	  		<th>House Contact</th>
	  		<th>Extra Fun</th>
	  		<th>House Link</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="house in houses" ng-if="house.name && house.description">
	  		<th>{{house.name}}</th>
	  		<td>{{house.description}}</td>
	  		<td>{{house.address}}</td>
	  		<td>{{house.number}}</td>
	  		<td>{{house.residents}}</td>
	  		<td>{{house.diet}}</td>
	  		<td><a ng-href="mailto:{{house.email}}" ng-if="house.email">{{house.email}}</a></td>
	  		<td>{{house.bonus}}</td>
	  		<td><a ng-href="{{house.link}}" target="_blank" ng-if="house.link">More info</a></td>
	  	</tr>
	  </tbody>
	</table>

	<div ng-show="visiblePane === 'tile'" ng-repeat="house in houses">
		<!-- {{houses}} -->
		<div class="col-xs-12 col-sm-6 col-md-4 jumbotron container houseProfile" ng-if="house.name && house.description">
			<p>House Name: {{house.name}}</p>
			<p>Description: {{house.description}}</p>
			<p ng-if="house.address">Address: {{house.address}}</p>
			<p ng-if="house.number"># of Residents: {{house.number}}</p>
			<p ng-if="house.residents">Resident Names: {{house.residents}}</p>
			<p ng-if="house.diet">Dietary Restrictions: {{house.diet}}</p>
			<p ng-if="house.email">House Contact: {{house.email}}</p>
			<p ng-if="house.bonus">Extra Fun: {{house.bonus}}</p>
			<p><a ng-href="{{house.link}}" target="_blank" ng-if="house.link">House Link</a></p>
		</div>
	</div>
</div>
